<div class="container-fluid">
  <span class="showdate">Dates Index</span>
  
  <div>
    <% @dates.each do |day| %>
      <%= link_to day.date, date_path(id: day.id), class: "link" %>
      <%= link_to "<i class=\"fa fa-trash-alt trash\"></i> ".html_safe, date_path(id: day.id), method: :delete %>
    <% end %>  
  </div>
</div>


