/*.notice {
  position: absolute;
  text-align: center;
  font-weight: 300;
  top: 70px;
  right:0px;
  padding: 10px 20px;
  background: rgba(255, 152, 0, 0.7);
  color: white;
  font-size: 18px;
  border-radius: 20px;
  z-index:1040; 
}*/
body {
  background-color: #212121;
  color: white;
}

.home {
  font-family: 'Finger Paint', cursive;
  color: #ffb300;
  font-size: 35px;
}

.dashboard {
  background-color: #2E2E2E;
  color: #ffb300;
  font-size: 1.1em;
  padding-bottom: 20px;
  text-align: center;
}

.dashboardfeedpod {
  background-color: #2E2E2E;
  color: #66bb6a;
  font-size: 1.1em;
  padding-bottom: 20px;
  text-align: center;
}

.input {
  text-align: center;
}

.showdate {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center !important;
}

.dashdatafeed {
  color: #d4e157;
}

.dashboard-date-feed {
  background-color: #2E2E2E;
  color: #66bb6a;
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.dashboard-date {
  background-color: #2E2E2E;
  color: #ffb300;
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.dashdata {
  color: #ff6f00;
}

.roll {
  font-size: 2em;
  color: #ffb300;
}

.trash, .editshow {
  color: #b71c1c;
  font-size: 0.7em;
}


.link {
  color: white;
  text-decoration: underline;
  font-size: 1.5em;
}

.link:hover {
  color: #ff6d00;
}

.withwithout {
  font-size: 1.5em;
  text-decoration: underline;

}

#space {
  color: black;
}

thead {
  color: #33b5e5 !important;
}


